PORT=5000
FRONTEND_URL="http://localhost:5173"
PROJECT_NAME="Projec Hub"

DATABASE_URL="postgres://8f576c4dc548da08b7092e5316d6f7ca48ba3bd296b06a118e7595d9d6f18669:sk_V-r6Uaa3IP_RqPDN5ZhnY@db.prisma.io:5432/postgres?sslmode=require"